.chat__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  width: 100%;
  text-align: left;
  height: 80dvh;
}

.chat{
  border: 2px solid var(--div-border);
  background-color: var(--div-bg);
  border-radius: var(--div-border-radius);
  padding: .5rem .6rem;
  height: 60%;
  display: flex;
  flex-direction: column;
}

.chat__entries {
  width: 100%;
  border: 1px solid var(--div-border);
  border-radius: var(--div-border-radius);
  background-color: rgb(108, 170, 167);
  padding: .2rem .4rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.chat__entry {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  gap: .2rem 1rem;
  margin-bottom: .5rem;
  background-color: rgb(27, 160, 153);
  padding: .5rem;
  border-radius: var(--div-border-radius);
  align-items: end;
}

.chat__timestamp {
  grid-column: 2;
  grid-row: 1;
  font-style: italic;
  width: 100%;
}

.chat__userName {
  display: inline-flex;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  background-color: rgba(39, 39, 39, 0.4);
  padding: .2rem 1rem;
  border-radius: var(--div-border-radius);
  width: auto;
}

.chat__message {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
  padding: .5rem 1rem;
  background-color: rgba(39, 39, 39, 0.4);
  border-radius: var(--div-border-radius);
  width: 100%;
}

.chat__controls {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: .5rem;
}

.chat__input-wrapper {
  display: flex;
  align-items: center;
}
.chat__send,
.chat__input {
  height: 35px;
  font-size: 1rem;
  border: 1px solid var(--button-border);
  outline: inherit;
  margin-top: .5rem;
}
.chat__send {
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  background-color: var(--button-bg);
  border-left: 0;
  border-color: var(--button-border);
  color: var(--button-font);
  padding: 0 1rem;
}
.chat__input {
  border-right: none;
  border-radius: 6px 0 0 6px;
  width: 100%;
}

.color__send,
.chat__color-select {
  height: 35px !important;
  font-size: 1rem;
  border: 0;
  outline: inherit;
  margin-top: .5rem !important;
}
.color__send {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-font);
  padding: 0 .5rem;
}
.chat__color-select {
  align-self: end;
  background-color: transparent;
  border-right: none;
  border-radius: 6px 0 0 6px !important;
  border-radius: 20px;
  border: 0;
  bottom: 1px;
  cursor: pointer;
  margin-top: .6rem !important;
  outline: inherit;
  padding: 0;
  position: relative;
  width: 2rem;
}
.chat__color-select::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}
.chat__color-select::-webkit-color-swatch {
  border: none;
  border-radius: 0;
}
.chat__color-select::-moz-color-swatch {
  border: none;
  border-radius: 0;
}
.color__send.unsaved {
  color: rgb(255, 0, 0);
}