.chat__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  width: 100%;
  text-align: left;
}

.chat{
  border: 2px solid var(--div-border);
  background-color: var(--div-bg);
  border-radius: var(--div-border-radius);
  padding: .5rem .6rem;
}

.chat__entries {
  width: 100%;
  border: 1px solid var(--div-border);
  border-radius: var(--div-border-radius);
  background-color: rgb(108, 170, 167);
  padding: .2rem .4rem;
}