.room-list-wrapper {
  width: 45%;
  margin: 0 auto;
}

.room-list {
  background-color: var(--div-bg);
  border: 2px solid var(--div-border);
  border-radius: 12px;
  padding: 1rem 0;
  width: 100%;
}