.room-list-entry {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem 10rem 1fr 1fr;
  background-color: var(--room-list-bg);
  color: var(--room-list-font);
  padding: .2rem 1rem;
}
.room-list-entry:nth-child(even) {
  background-color: var(--room-list-bg-evens);
}

.room-list-entry > .section {
  display: flex;
  align-items: center;
}
.room-list-entry > .button-wrapper {
  padding-left: 3rem;
}
.room-list-entry__button-wrapper > .join-button {
  border: 2px solid transparent;
  padding: .2rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: var(--join-button-font);
  background-color: var(--join-button-bg);
}

.join-button:is(:focus,:hover){
 border-color: var(--join-button-border);
}