.room-list-entry {
  width: 100%;
  display: grid;
  grid-template-columns: 1rem 15rem 3rem 1fr;
  background-color: white;
  color: black;
  padding: .2rem 1.5rem;
}
.room-list-entry:nth-child(even) {
  background-color: rgb(118, 208, 211);
}

.room-list-entry > .section {
  display: flex;
  align-items: center;
}
.room-list-entry > .button-wrapper {
  padding-left: 3rem;
}
.room-list-entry__button-wrapper > .join-button {
  border: 2px solid transparent;
  padding: .2rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(10, 98, 114);
}

.join-button:is(:focus,:hover){
 border-color: rgb(0, 255, 213);
}