.room-wrapper {
  width: 100%;
  text-align: center;
}

.room-windows {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.section__title {
  margin: 0;
  margin-left: .5rem;
  margin-bottom: .1rem;
  text-transform: capitalize;
  font-size: .9rem;
}