.users__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 15%;
  text-align: left;
}

.users {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  border: 2px solid var(--div-border);
  background-color: var(--div-bg);
  border-radius: var(--div-border-radius);
  padding: .5rem .6rem;
}

.userController {
  display: grid;
  grid-template-columns: 5em 2em 2em 3em;
  align-items: center;
  gap: 1rem;
  border: 2px solid rgb(51, 94, 92);
  border-radius: var(--div-border-radius);
  background-color: rgb(108, 170, 167);
  padding: .2rem .4rem;
}
.userController.owner {
  border-color: var(--div-border);
}

.controllerButtonCleanUp {
  background: none;
  border: 0;
  font-size: 1em;
  color: white;
}

.controllerButtonCleanUp.button {
  cursor: pointer;
}

.userName {
  width: 100%;
  text-align: start;
}

.afk.active {
  color: red;
}

.handUp.active {
  color: rgb(217, 255, 0);
  filter: drop-shadow(0px 0px 10px #b3ff03);
}

.hasMic {
  transition: all 200ms ease-in-out;
  filter: brightness(.3) saturate(100%);
}
.hasMic.active {
  filter: drop-shadow(0px 0px 10px #b3ff03);
}